<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color grey darken-4">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <a href="<%= %>" class="brand-logo darken-1">
                <%= image_tag  "logo-white.svg", "alt-text": "go feed logo", class: "white-text" %>
                <span class="logo-text heading logo-font">GO-FEED</span>
              </a>
            </h1>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
              <i class="material-icons">notifications_none
              </i>
            </a>
            <ul id="notifications-dropdown" class="dropdown-content">
              <li>
                <h6>NOTIFICATIONS
                  <!-- <span class="new badge">5</span> -->
                </h6>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <small>You have no unread notifications :)</small>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="<%= profile_path %>" class="waves-effect waves-block waves-light profile-button" title="Profile">
              <span class="avatar-status avatar-online">
                <%= image_tag "no-user.png" %>
                <i></i>
              </span>
              <span style="margin-left: 1rem">
                Welcome, <%= current_user.username %>
              </span>
            </a>
          </li>
          <li>
            <a href="<%= logout_path %>" class="waves-effect waves-block waves-light profile-button" title="Logout" id="logout" data-method="delete" rel="nofollow">
              <span class="">
                <i class="material-icons">exit_to_app</i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>