<%= form_with(model: user, url: register_post_path(role), local: true) do |f| %>
  <div class="input-field">
    <%= f.label :username %>
    <%= f.text_field :username %>
    <% if user.errors[:username].any? %>
      <small class="red-text"><%= user.errors.full_messages_for(:username).first %></small>
    <% end %>
  </div>

  <div class="input-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <% if user.errors[:email].any? %>
      <small class="red-text"><%= user.errors.full_messages_for(:email).first %></small>
    <% end %>
  </div>

  <div class="input-field">
    <%= f.hidden_field :role, value: role %>
  </div>
  <div class="input-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
    <% if user.errors[:password].any? %>
      <small class="red-text"><%= user.errors.full_messages_for(:password).first %></small>
    <% end %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <% if user.errors[:password_confirmation].any? %>
      <small class="red-text"><%= user.errors.full_messages_for(:password_confirmation).first %></small>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button "Register", type: :submit, class: "btn waves-effect waves-light red darken-2 white-text" %>
  </div>
<% end %>
