<h1>New User</h1>

<%= form_for(@user=User.new) do |f| %>
    <%= render :partial => "form", :object => f %>
    <div class="field">
        <%= f.hidden_field :user_type, value: 'Driver'%>
    </div>
    <div class="actions">
        <%= f.submit "Register"%>
    </div>
<% end %>   

<%= link_to 'Back', users_path %>