<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :restaurant_id, value: restaurant.id %>
  <%= form.hidden_field :customer_id, value: current_user.id %>
  <%= form.hidden_field :driver_id %>

  <% restaurant.menus.each do |menu| %>
    <div class="field">
      <span><%= menu.name %></span>
      <input class="order_menu_quantity" type="number" name="order[menus][<%= menu.id %>]" value="0" />
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
