<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.username %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @order.driver && @order.driver.username %>
</p>

<p class="capitalized">
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<% if current_user.admin? %>
  <%= form_with(model: @order, local: true, method: 'patch') do |form| %>
    <%= form.hidden_field :driver_id, value: current_user.id %>
    <%= form.hidden_field :update_status, value: true %>

    <div class="actions">
      <%= form.submit "Update Order Status" %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', orders_path %>
