<% content_for :dashboard_title do %>
  Restaurants
<% end %>

<% content_for :dashboard_header do %>
  <%= render 'dashboard/header' %>
<% end %>

<% content_for :dashboard_sidebar do %>
  <%= render 'dashboard/sidebar' %>
<% end %>

<% content_for :dashboard_content do %>
  <section id="content">
    <!--start container-->
    <div class="container">
      <p id="notice"><%= notice %></p>

      <% @restaurants.each do |restaurant| %>
        <div class="row">
          <div class="col s12">
            <div class="card-panel hoverable waves-effect" style="width: 100%" onclick="location.href='<%= restaurant_path(restaurant) %>'">
              <h3><%= restaurant.name %></h3>
              <p><%= restaurant.address %></p>
              <p><%= restaurant.description %></p>
              <small><%= restaurant.phone %></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!--end container-->
  </section>
<% end %>

<%= render template: "layouts/dashboard" %>

<%= link_to 'New Restaurant', new_restaurant_path if current_user.admin? %>
