<%= form_with(model: user_session, url: login_post_path, local: true) do |form| %>
  <% if user_session.errors.any? %>
    <% user_session.errors.full_messages.each do |msg| %>
      <small class="red-text"><%= msg %></small>
    <% end %>
  <% end %>

  <div class="input-field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="input-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.button "Login", type: :submit, class: "btn waves-effect waves-light red darken-2 white-text"  %>
  </div>
<% end %>
