<% content_for :title do %>
  Log in
<% end %>

<%= render 'form', user_session: @user_session %>

<%= link_to 'Register Admin', register_path('admin') %> |
<%= link_to 'Register Customer', register_path('customer') %> |
<%= link_to 'Register Driver', register_path('driver') %>
<div class="login-content">
  <div class="login-container card hoverable">
    <div class="login-heading">
      <h2 class="login-heading-logo red-text text-darken-2">
        <i class="fa fa-utensils"></i>GO-FEED
      </h2>
      <h4 class="login-heading-title">LOG IN</h4>
    </div>
    <div class="login-form">
      <%= render 'form', user_session: @user_session %>
    </div>
  </div>

</div>

<% content_for :scripts do %>
  <script>
  </script>
<% end %>
