<!DOCTYPE html>
<html>
  <head>
    <title>Go-Feed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= form_with(url: logout_path, local: true, method: 'delete') do |form| %>
        <div class="action">
          <%= form.submit 'Logout' %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
